<suite name="Example test run">
    <Listeners>
        <Listener class-name="testClasses.Listeners"/>
    </Listeners>
    <test name="Simple Test">
        <classes>
            <class name="testClasses.PositiveTestCases"/>
            <class name="testClasses.NegativeTestCases"/>
        </classes>
    </test>
</suite>